











.navbar-nav .nav-item .nav-link.I:hover::after {
    width: 95%;
}

.navbar-nav .nav-item .nav-link.I::after {
    content: '';
    position: absolute;
    left: 2px;
    bottom: 1px;
    width: 0;
    height: 1px;
    background-color: var(--items-color);
    transition: 0.3s ease;
}

.navbar-nav .nav-item .nav-link.S2::before {
    content: '';
    position: absolute;
    left: 10px;
    bottom: 1px;
    width: 87%;
    height: 1px;
    background-color: var(--items-color);
}


.treatments {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 20px;
}

.trt-cont {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hr {
    width: 100%;
    height: 3px;
    color: var(--items-color);
    opacity: 1;
}

.trt-title {
    font-size: 3em;
    margin-bottom: 50px;
    overflow: hidden;
    color: var(--items-color);
    text-decoration: underline;
}

.trt-Subtitle {
    font-size: 2em;
    margin-bottom: 10px;
    color: var(--text-color);
    overflow: hidden;
    margin-top: 20px;
}

.trt-div,
.trt-div2 {
    position: relative;
    width: /*1150px*/ 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    height: 570px;
}

.trt-div {
    margin-left: 100px;
    
}

.trt-div2 {
    margin-right: 100px;
}

.trt-div .trt-image-div,
.trt-div2 .trt-image-div {
    position: relative;
    width: 800px;
    height: 400px;
    overflow: hidden;
}

.trt-div .trt-image-div img,
.trt-div2 .trt-image-div img {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.trt-div .trt-text-box,
.trt-div2 .trt-text-box2 {
    z-index: 2;
    background-color: var(--icons-color);
    backdrop-filter: blur(20px);
    padding: 40px;
    max-width: 400px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    transform: translate(-125px, 50px);
    overflow: hidden;
}

.trt-div2 .trt-text-box2 {
    transform: translate(120px, 50px);
}

.trt-div .trt-text-box p,
.trt-div2 .trt-text-box2 p
{
   color: #fff;
}

.img-cta {
    width: 600px;
    border-radius: 30px;
    border: 5px solid var(--icons-color);
}


/* BreakPoints */

@media (max-width: 991px) {
.trt-div,
.trt-div2 {
    flex-direction: column;
    margin: -100px auto 0;
    height: 970px;
    }

.trt-div .trt-image-div,
.trt-div2 .trt-image-div {
    width: 500px;
    height: 300px;
    }

.trt-div .trt-text-box {
    transform: translate(-7px, 20px);
   }

.trt-div2 .trt-text-box2 {
    transform: translate(-8px, -25px);
    }

.trt-div .trt-text-box p,
.trt-div2 .trt-text-box2 p {
    text-align: center;
}

.img-cta {
    width: 500px;
  }

.Cta-Text2 {
    margin-left: 0px;
}

}

@media (max-width: 637px) {
    .trt-title {
        font-size: 2em;
    }

    .img-cta {
        width: 90%;
        margin-left: 4%;
        /* width: 420px;
        margin-left: 15px;*/
    }
}

@media (max-width: 485px) {
    .trt-Subtitle {
        margin-bottom: 50px;
        font-size: 1.4em;
    }
}


@media (max-width: 445px) {
    .trt-title {
        font-size: 1.7em;
    }

    .trt-div, .trt-div2 {
        margin: -70px auto 0;
    }
}

@media (max-width: 420px) {
    .trt-div .trt-image-div, 
    .trt-div2 .trt-image-div {
        width: 400px;
        height: 240px;
    }
}

@media (max-width: 393px) {
    .trt-div, .trt-div2 {
        margin: -50px auto 0;
    }
}